supabase==2.27.0
python-dotenv==1.2.1
langchain==1.2.0
langchain-core==1.2.5
langchain-groq==1.1.1
langchain-classic==1.0.1
fastapi==0.115.6
python-multipart==0.0.20
uvicorn==0.34.0
twilio==9.4.0
httpx==0.28.1
groq==0.37.1
